@helper LinkButton(string id="", string url = "", string color="",string additionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" id="@id" class="btn btn-@color @additionalClass" title="@title">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </a>
}

@helper LinkButton(string url = "", string color = "", string additionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" class="btn btn-@color @additionalClass" title="@title">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </a>
}


@helper Button(string id = "",  string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{
    <button id="@id" class="btn btn-@color @additionalClass" type="@typ">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </button>
}

@helper Button(string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{
    <button class="btn btn-@color @additionalClass" type="@typ">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </button>
}

@helper LinkMenu(string url = "#", string icon = "", string text = "") {
    <a href="@url" class="glyphicon glyphicon-@icon">@text</a>
    }
